<div style="padding-top: 50px">
    <div class="card-header d-flex justify-content-between align-items-center hide-arrow border-white" style="width: 80%; margin-left: 50px;">
        <h3 class="text-uppercase">
          <dt>Sách</dt>
        </h3>
         <a href="/them-sach"><button placement="bottom-right"class="btn btn-primary">Thêm sách</button></a>
    </div>
    <div class="row" style=" width: 80%; margin-left: 40px;">
        <div class="dropdown pt-3 col-md-3">
            <a class="btn btn-light border-dark dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Chọn điều kiện
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li>
              </li>
            </ul>
        </div>
        <div class="col  pt-3">
            <form>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 100%;">
            </form>
        </div>
    </div>
   
      
    <table class="table table-striped  border-dark mt-3" style="width: 80%; margin-left: 50px;">
        <thead>
          <tr>
            <th scope="col">Tên sách</th>
            <th scope="col">Tác giả</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Giá tiền</th>
          </tr>
        </thead>
            <tbody *ngFor="let item of listBooks">
                <tr>
                  <th scope="row" class="text-primary" style="cursor: pointer ;" (click)="onNavigateInfoBook(item)">{{item.name}}</th>
                  <td>{{item.author}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.price | currency: "VND" }}</td>
                </tr>
            </tbody>      
      </table>
      <div style="width: 80%; margin-left: 50px;">
        <p>Tổng: {{sum}}</p>
      </div>
     
</div>




