<div style="padding-top: 50px">
    <div class="card-header d-flex justify-content-between align-items-center hide-arrow border-white" style="width: 80%; margin-left: 50px;">
        <h3 class="text-uppercase">
          <dt>Danh sách nhân viên</dt>
        </h3>
         <a href="/them-nhan-vien"><button placement="bottom-right"class="btn btn-primary">Thêm nhân viên</button></a>
    </div>
    <div class="row" style=" width: 80%; margin-left: 40px;">
        <div class="dropdown pt-3 col-md-3">
            <a class="btn btn-light border-dark dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Chọn điều kiện
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li>
              </li>
            </ul>
        </div>
        <div class="col  pt-3">
            <form>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 100%;">
            </form>
        </div>
    </div>
   
      
    <table class="table table-bordered border-dark mt-3" style="width: 80%; margin-left: 50px;">
        <thead>
          <tr>
            <th scope="col">MÃ NV</th>
            <th scope="col">Tên nhân viên</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Vai trò</th>
          </tr>
        </thead>
            <tbody *ngFor = "let item of listStaff">
                <tr>
                  <th scope="row" class="text-primary">{{item.staffId}}</th>
                  <td>{{item.name}}</td>
                  <td>{{item.tel}}</td>
                  <td>{{item.birthday}}</td>
                  <td>{{item.roleName}}</td>
                </tr>
              </tbody>      
      </table>
      <div style="width: 80%; margin-left: 50px;">
        <p>Tổng: {{sum}}</p>
      </div>
     
</div>



