<!-- <body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_img"> <img src="https://inkythuatso.com/uploads/thumbnails/800/2023/03/9-anh-dai-dien-trang-inkythuatso-03-15-27-03.jpg" alt=""> </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> <a href="/dashboard" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">HB
                        Book</span> </a>
                <div class="nav_list"> <a href="/dashboard" class="nav_link active"> <i class='bx bx-grid-alt nav_icon'></i>
                        <span class="nav_name">Tổng quan</span> </a> <a href="#" class="nav_link"> <i
                            class='bx bx-user nav_icon'></i> <span class="nav_name">Thu ngân</span> </a> <a href="#"
                        class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span
                            class="nav_name">Kho</span> </a> <a href="#" class="nav_link"> <i
                            class='bx bx-bookmark nav_icon'></i> <span class="nav_name">Doanh thu</span> </a> <a href="#"
                        class="nav_link"> <i class='bx bx-folder nav_icon'></i> <span class="nav_name">Nhà cung cấp </span>
                    </a>
                    <a href="/staff" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span
                            class="nav_name">Nhân viên</span> </a>
                </div>
            </div> <a href="#" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Đăng
                    xuất</span> </a>
        </nav>
    </div> -->
    <!--Container Main start-->
    <!-- <div class="height-100">
      <router-outlet></router-outlet>
    </div> -->
    <!--Container Main end-->    
<!-- </body> -->

<body>
    <nav class="sidebar">
      <a href="#" class="logo"><img src="../assets/images/c30d4685cc32493baf3d326d5eafc064 (1).png"></a>

      <div class="menu-content">
        <ul class="menu-items">
          

          <li class="item">
              <a href="/dashboard">Tổng Quan</a>
          </li>
          <li class="item">
            <a href="/thu-ngan">Thu Ngân</a>
        </li>
          <li class="item">
              <a href="/nhan-vien">Nhân Viên</a>
          </li>

          <li class="item">
            <div class="submenu-item">
              <span>Doanh Thu</span>
              <i class="fa-solid fa-chevron-right"></i>
            </div>

            <ul class="menu-items submenu">
              <div class="menu-title">
                <i class="fa-solid fa-chevron-left"></i>
                Doanh Thu
              </div>
              <li class="item">
                <a href="#">Doanh Thu Nhân Viên</a>
              </li>
              <li class="item">
                <a href="#">Doanh Thu Cửa Hàng</a>
              </li>
              <li class="item">
                <a href="#">First sublink</a>
              </li>
            </ul>
          </li>
          <li class="item">
            <div class="submenu-item">
              <span>Kho</span>
              <i class="fa-solid fa-chevron-right"></i>
            </div>

            <ul class="menu-items submenu">
              <div class="menu-title">
                <i class="fa-solid fa-chevron-left"></i>
                Kho
              </div>
              <li class="item">
                <a href="/sach">Sách</a>
              </li>
              <li class="item">
                <a href="#">....</a>
              </li>
              <li class="item">
                <a href="#">.....</a>
              </li>
            </ul>
          </li>
        <!-- <li class="item">
            <a href="">Kho</a>
        </li> -->
        <li class="item">
          <a href="">Nhà Cung Cấp</a>
      </li>
          <li class="item">
            <div class="submenu-item">
              <span>Cài Đặt</span>
              <i class="fa-solid fa-chevron-right"></i>
            </div>

            <ul class="menu-items submenu">
              <div class="menu-title">
                <i class="fa-solid fa-chevron-left"></i>
                Cài Đặt
              </div>
              <li class="item">
                <a href="/role">Vai Trò</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <nav class="navbar">
      <i class="fa-solid fa-bars" id="sidebar-close"></i>
      <div class="user-icon">
        <i class="fa-solid fa-user fa-lg" style="color: #ffffff;"></i>
      </div>
    </nav>

    <main class="main">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </main>

    <script>
    const sidebar = document.querySelector(".sidebar");
    const sidebarClose = document.querySelector("#sidebar-close");
    const menu = document.querySelector(".menu-content");
    const menuItems = document.querySelectorAll(".submenu-item");
    const subMenuTitles = document.querySelectorAll(".submenu .menu-title");
    sidebarClose.addEventListener("click", () => sidebar.classList.toggle("close"));
    
    menuItems.forEach((item, index) => {
      item.addEventListener("click", () => {
        menu.classList.add("submenu-active");
        item.classList.add("show-submenu");
        menuItems.forEach((item2, index2) => {
          if (index !== index2) {
            item2.classList.remove("show-submenu");
          }
        });
      });
    });
    
    subMenuTitles.forEach((title) => {
      title.addEventListener("click", () => {
        menu.classList.remove("submenu-active");
      });
    });
    </script>
  </body>